@font-face {
  font-family: KlimaWeb;
  src: url(/stylesheets/vendor/fonts/klima/Klima-Regular.otf) format("opentype");
  font-weight: 400; }

@font-face {
  font-family: KlimaWeb;
  src: url(/stylesheets/vendor/fonts/klima/Klima-Bold.otf) format("opentype");
  font-weight: 700;
  font-style: normal; }

html, body {
  height: 100%;
  font-size: 16px; }

img, iframe {
  max-width: 100%; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  color: #003DAA; }
  a:hover {
    color: #0046c3;
    text-decoration: none; }

.leaflet-container a {
  color: #003DAA; }
  .leaflet-container a:hover {
    color: #0046c3;
    text-decoration: none; }

.btn.btn-primary {
  background-color: #40D7D4;
  border-color: #40D7D4;
  color: #fff;
  font-weight: bold; }
  .btn.btn-primary:hover {
    background-color: #0F81E8; }

.btn.btn-secondary {
  background-color: transparent;
  border-color: #003DAA;
  border-width: 2px;
  border-style: solid;
  color: #003DAA; }
  .btn.btn-secondary:hover {
    background-color: #003DAA;
    color: #fff; }

.btn.btn-tertiary {
  background-color: #d4d6d7;
  border-color: #d4d6d7;
  border-width: 1px;
  border-style: solid; }
  .btn.btn-tertiary:hover {
    background-color: #c4c6c7; }

#stage {
  height: inherit;
  display: flex;
  flex-direction: column;
  width: 1px;
  min-width: 100%;
  *width: 100%; }
  #stage header.page-header {
    background-color: #eaedef;
    padding: 1.5em 1.5em 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    z-index: 10; }
    #stage header.page-header nav {
      height: inherit;
      display: flex; }
      #stage header.page-header nav a {
        white-space: nowrap; }
      #stage header.page-header nav div.filters-form-area {
        flex-grow: 1; }
        #stage header.page-header nav div.filters-form-area .row {
          justify-content: space-between; }
        #stage header.page-header nav div.filters-form-area div.filter-area {
          display: flex; }
          #stage header.page-header nav div.filters-form-area div.filter-area div.filter-container {
            padding-top: 5px;
            text-align: right;
            width: 100%; }
            #stage header.page-header nav div.filters-form-area div.filter-area div.filter-container span.multiselect-native-select .multiselect-container li label {
              padding: 3px 40px 3px 0px;
              width: 100%;
              font-size: 13px;
              color: #333333; }
        #stage header.page-header nav div.filters-form-area form {
          width: 100%; }
          #stage header.page-header nav div.filters-form-area form .search-wrapper {
            display: flex; }
          #stage header.page-header nav div.filters-form-area form div.search-button {
            flex-grow: 1;
            text-align: left; }
            #stage header.page-header nav div.filters-form-area form div.search-button .btn {
              border-radius: 0 4px 4px 0;
              left: -5px;
              position: relative;
              background-color: #003DAA;
              color: white;
              text-transform: uppercase;
              font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
              font-size: 13px;
              font-weight: 600;
              padding: 9px 15px; }
          #stage header.page-header nav div.filters-form-area form .twitter-typeahead {
            width: 100%; }
            #stage header.page-header nav div.filters-form-area form .twitter-typeahead .tt-dropdown-menu {
              background-color: #fafeff;
              border: solid 1px lightgray;
              padding: 5px 10px;
              width: 100%;
              z-index: 1000 !important; }
              #stage header.page-header nav div.filters-form-area form .twitter-typeahead .tt-dropdown-menu .tt-dataset.tt-dataset-search-results {
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
                overflow: hidden; }
          #stage header.page-header nav div.filters-form-area form .search-button {
            display: inline-block;
            width: 70px; }
          #stage header.page-header nav div.filters-form-area form button {
            cursor: pointer; }
          #stage header.page-header nav div.filters-form-area form span.filter-item {
            margin-right: 20px;
            display: inline-block; }
            #stage header.page-header nav div.filters-form-area form span.filter-item input {
              visibility: hidden; }
            #stage header.page-header nav div.filters-form-area form span.filter-item label {
              position: relative;
              cursor: pointer; }
              #stage header.page-header nav div.filters-form-area form span.filter-item label:before {
                content: ' ';
                width: 18px;
                height: 18px;
                position: absolute;
                left: -24px;
                top: 2px;
                background-repeat: no-repeat;
                background-position: center center;
                z-index: 1; }
              #stage header.page-header nav div.filters-form-area form span.filter-item label:after {
                content: ' ';
                width: 1.3em;
                height: 1.3em;
                position: absolute;
                background-color: lightgray;
                left: -1.5em;
                top: .15em;
                border-radius: 50%; }
            #stage header.page-header nav div.filters-form-area form span.filter-item input[value='events']:checked + label:after {
              background-color: #40D7D4; }
            #stage header.page-header nav div.filters-form-area form span.filter-item input[value='groups']:checked + label:after {
              background-color: #0F81E8; }
      #stage header.page-header nav div.cta-area {
        height: 100%;
        width: 200px; }
        #stage header.page-header nav div.cta-area p {
          margin: 0;
          font-style: italic;
          font-size: 25px;
          margin-top: 10px;
          font-family: 'KlimaWeb', -apple-system, BlinkMacSystemFont, 'arial', sans-serif; }
  #stage div.filter-container span.multiselect-native-select div.btn-group {
    display: block; }
    #stage div.filter-container span.multiselect-native-select div.btn-group button {
      padding-left: 0;
      width: 100%;
      text-align: left;
      color: gray;
      border-radius: 0; }
    #stage div.filter-container span.multiselect-native-select div.btn-group ul.multiselect-container.dropdown-menu {
      position: relative !important;
      background: transparent !important;
      display: block !important;
      width: 100% !important;
      transform: none !important;
      border: none !important;
      max-height: 0;
      overflow: hidden;
      padding: 0;
      transition: max-height 0.4s; }
      @media (max-width: 600px) {
        #stage div.filter-container span.multiselect-native-select div.btn-group ul.multiselect-container.dropdown-menu {
          transition: max-height 0.001s !important; } }
    #stage div.filter-container span.multiselect-native-select div.btn-group.show button {
      border-bottom: 1px solid gray; }
    #stage div.filter-container span.multiselect-native-select div.btn-group.show ul.multiselect-container.dropdown-menu {
      max-height: 1000vh !important;
      visibility: visible !important;
      display: block !important;
      overflow: visible !important; }
  #stage div#activity-area {
    background-color: green;
    flex-grow: 1;
    position: relative;
    display: flex; }
    #stage div#activity-area section#map {
      flex-grow: 1;
      background-color: whitesmoke;
      font-size: 1rem;
      z-index: 0;
      font-family: 'KlimaWeb', -apple-system, BlinkMacSystemFont, 'arial', sans-serif;
      position: relative; }
      #stage div#activity-area section#map #show-hide-container {
        position: absolute;
        z-index: 1000;
        left: 28px;
        top: 160px; }
        #stage div#activity-area section#map #show-hide-container #show-hide-list-container {
          background-color: #003DAA;
          transform: rotate(90deg);
          transform-origin: left top;
          padding: 5px 10px 5px;
          color: white;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 600;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          letter-spacing: 1px;
          border-radius: 4px 4px 0 0;
          display: inline-block; }
          #stage div#activity-area section#map #show-hide-container #show-hide-list-container #hide-list-text {
            display: block; }
          #stage div#activity-area section#map #show-hide-container #show-hide-list-container #show-list-text {
            display: none; }
      #stage div#activity-area section#map div#map-proper {
        width: 100%;
        height: 100%; }
        #stage div#activity-area section#map div#map-proper img.leaflet-marker-icon.annotation-popup.leaflet-zoom-animated.leaflet-interactive {
          z-index: 10000 !important; }
        #stage div#activity-area section#map div#map-proper img.leaflet-marker-icon.events.event-item-popup.event-past-event.leaflet-zoom-animated.leaflet-interactive {
          z-index: 0 !important; }
      #stage div#activity-area section#map div.leaflet-popup .leaflet-container a.leaflet-popup-close-button {
        top: 10px;
        right: 10px; }
      #stage div#activity-area section#map div.leaflet-popup .leaflet-popup-content-wrapper {
        border-radius: 5px;
        max-height: 300px;
        overflow-y: scroll; }
        #stage div#activity-area section#map div.leaflet-popup .leaflet-popup-content-wrapper .popup-item.annotation iframe {
          width: 100% !important; }
      #stage div#activity-area section#map div.leaflet-popup .event-date, #stage div#activity-area section#map div.leaflet-popup .event-address, #stage div#activity-area section#map div.leaflet-popup .group-location.location, #stage div#activity-area section#map div.leaflet-popup .group-description {
        color: rgba(21, 35, 45, 0.8);
        font-size: 0.95em; }
      #stage div#activity-area section#map div.leaflet-popup .event-date, #stage div#activity-area section#map div.leaflet-popup .group-location.location {
        font-weight: bold; }
      #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content {
        min-width: 350px;
        padding: 10px;
        margin: 10px; }
        #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content p {
          margin-top: 0; }
        #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content ul.event-types-list {
          margin-bottom: 8px; }
          #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content ul.event-types-list li {
            border-radius: 4px;
            display: inline-block;
            background-color: lightgray;
            border: 1px solid lightgray;
            margin-bottom: 0.3em;
            padding: 2px 5px 0;
            font-size: 12px; }
        #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content h2 {
          font-family: 'KlimaWeb', -apple-system, BlinkMacSystemFont, 'arial', sans-serif;
          margin-bottom: 0;
          line-height: 1.2;
          font-weight: 700;
          font-size: 24px;
          cursor: pointer;
          /*  &:before {
      content: ' ';
      width: 18px;
      height: 18px;
      position: absolute;
      top: 2px;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 1;
      left: 6px;
    }
    &:after {
      content: ' ';
      width: 28px;
      height: 28px;
      position: absolute;
      background-color: lightgray;
      left: 0px;
      top: -3px;
      border-radius: 50%;
    } */ }
        #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content a.btn.btn-primary {
          font-size: 13px;
          padding: 7px 12px 6px;
          font-weight: 600; }
        #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content div.type-event {
          overflow-x: hidden; }
          #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content div.type-event div.address-area {
            margin-bottom: 5px; }
          #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content div.type-event h2:before {
            background-image: url(/img/human.svg); }
          #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content div.type-event h2:after {
            background-color: #40D7D4; }
          #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content div.type-event h2 a {
            color: #003DAA; }
        #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content div.type-group div.group-details-area {
          margin-bottom: 5px; }
        #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content div.type-group h2:after {
          background-color: #0F81E8; }
        #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content div.type-group h2:before {
          background-image: url(/img/flag.svg); }
        #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content a.btn-primary {
          color: white; }
        #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content .event-title,
        #stage div#activity-area section#map div.leaflet-popup div.leaflet-popup-content .group-header {
          margin-bottom: 0.5rem; }
      #stage div#activity-area section#map.zoomed-out img.local-groups, #stage div#activity-area section#map.zoomed-out img.fossil-free-groups, #stage div#activity-area section#map.zoomed-out img.regional-hubs {
        width: 11px !important;
        height: 11px !important;
        margin-top: 0px !important;
        margin-left: -3px !important; }
      #stage div#activity-area section#map.zoomed-out img.events {
        width: 9px !important;
        height: 9px !important;
        margin-top: 0px !important;
        margin-left: 0px !important; }
    #stage div#activity-area section#events-list-container {
      width: 400px;
      height: inherit;
      background-color: whitesmoke;
      border-right: 1px solid rgba(0, 0, 0, 0.3);
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      max-width: 400px;
      transition: max-width 0.4s; }
      #stage div#activity-area section#events-list-container header.events-header {
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        background: orange;
        color: white;
        width: 100%;
        font-family: 'KlimaWeb', -apple-system, BlinkMacSystemFont, 'arial', sans-serif; }
      #stage div#activity-area section#events-list-container div#events-list {
        flex-grow: 1;
        overflow: auto;
        height: inherit; }
        #stage div#activity-area section#events-list-container div#events-list .event-date, #stage div#activity-area section#events-list-container div#events-list .event-address {
          color: rgba(21, 35, 45, 0.8);
          font-size: 0.95em; }
        #stage div#activity-area section#events-list-container div#events-list .event-date {
          font-weight: bold; }
        #stage div#activity-area section#events-list-container div#events-list > ul > li {
          border-bottom: 1px dashed gray; }
          #stage div#activity-area section#events-list-container div#events-list > ul > li ul.event-types-list {
            margin-bottom: 8px; }
            #stage div#activity-area section#events-list-container div#events-list > ul > li ul.event-types-list li {
              border-radius: 4px;
              display: inline-block;
              background-color: lightgray;
              border: 1px solid lightgray;
              margin-bottom: 0.3em;
              padding: 2px 5px 0;
              font-size: 12px; }
          #stage div#activity-area section#events-list-container div#events-list > ul > li h2 {
            font-family: 'KlimaWeb', -apple-system, BlinkMacSystemFont, 'arial', sans-serif;
            margin-bottom: 0;
            line-height: 1.2;
            font-weight: 700;
            font-size: 24px;
            cursor: pointer;
            /*  &:before {
      content: ' ';
      width: 18px;
      height: 18px;
      position: absolute;
      top: 2px;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 1;
      left: 6px;
    }
    &:after {
      content: ' ';
      width: 28px;
      height: 28px;
      position: absolute;
      background-color: lightgray;
      left: 0px;
      top: -3px;
      border-radius: 50%;
    } */ }
          #stage div#activity-area section#events-list-container div#events-list > ul > li a.btn.btn-primary {
            font-size: 13px;
            padding: 7px 12px 6px;
            font-weight: 600; }
          #stage div#activity-area section#events-list-container div#events-list > ul > li div.type-event {
            overflow-x: hidden; }
            #stage div#activity-area section#events-list-container div#events-list > ul > li div.type-event div.address-area {
              margin-bottom: 5px; }
            #stage div#activity-area section#events-list-container div#events-list > ul > li div.type-event h2:before {
              background-image: url(/img/human.svg); }
            #stage div#activity-area section#events-list-container div#events-list > ul > li div.type-event h2:after {
              background-color: #40D7D4; }
            #stage div#activity-area section#events-list-container div#events-list > ul > li div.type-event h2 a {
              color: #003DAA; }
          #stage div#activity-area section#events-list-container div#events-list > ul > li div.type-group div.group-details-area {
            margin-bottom: 5px; }
          #stage div#activity-area section#events-list-container div#events-list > ul > li div.type-group h2:after {
            background-color: #0F81E8; }
          #stage div#activity-area section#events-list-container div#events-list > ul > li div.type-group h2:before {
            background-image: url(/img/flag.svg); }
          #stage div#activity-area section#events-list-container div#events-list > ul > li > div {
            padding: 20px; }
            #stage div#activity-area section#events-list-container div#events-list > ul > li > div.type-group {
              background-color: #e9eaef; }
          #stage div#activity-area section#events-list-container div#events-list > ul > li:last-child {
            border-bottom: none; }
        #stage div#activity-area section#events-list-container div#events-list #is-empty-msg {
          padding: 20px; }
          #stage div#activity-area section#events-list-container div#events-list #is-empty-msg button {
            margin-top: 20px;
            display: block; }
        #stage div#activity-area section#events-list-container div#events-list:not(.is-empty) #is-empty-msg {
          position: absolute;
          overflow: hidden;
          clip: rect(0 0 0 0);
          height: 1px;
          width: 1px;
          margin: -1px;
          padding: 0;
          border: 0; }
    #stage div#activity-area #embed-area {
      width: 100%;
      position: relative; }
      #stage div#activity-area #embed-area button.btn.more-items {
        position: absolute;
        top: -38px;
        right: 15px;
        color: white;
        background-color: lightgray;
        border-radius: 0.25rem 0.25rem 0 0;
        cursor: pointer;
        outline: 0; }
        #stage div#activity-area #embed-area button.btn.more-items:focus {
          outline: none !important; }
        #stage div#activity-area #embed-area button.btn.more-items i {
          color: #333;
          transition: transform 0.5s; }
      #stage div#activity-area #embed-area button {
        cursor: pointer; }
      #stage div#activity-area #embed-area div.viewport {
        max-height: 0;
        transition: max-height 0.5s; }
        #stage div#activity-area #embed-area div.viewport div#language-options {
          position: absolute;
          top: 10px;
          right: 10px; }
        #stage div#activity-area #embed-area div.viewport div.btn-group button.lang-but {
          white-space: nowrap;
          font-size: 18px;
          margin-bottom: 0; }
          #stage div#activity-area #embed-area div.viewport div.btn-group button.lang-but span {
            display: inline-block;
            width: 100px;
            text-align: left; }
          #stage div#activity-area #embed-area div.viewport div.btn-group button.lang-but img {
            width: 24px; }
          #stage div#activity-area #embed-area div.viewport div.btn-group button.lang-but * {
            vertical-align: top;
            margin-top: 2px; }
        #stage div#activity-area #embed-area div.viewport div.btn-group ul.multiselect-container {
          min-width: 8rem; }
          #stage div#activity-area #embed-area div.viewport div.btn-group ul.multiselect-container li.lang-opt.lang-sel label {
            font-weight: bold; }
          #stage div#activity-area #embed-area div.viewport div.btn-group ul.multiselect-container li.lang-opt label {
            padding: 5px 5px 5px 10px;
            white-space: nowrap;
            font-size: 16px;
            color: #333333;
            width: 100%; }
            #stage div#activity-area #embed-area div.viewport div.btn-group ul.multiselect-container li.lang-opt label img {
              width: 20px; }
            #stage div#activity-area #embed-area div.viewport div.btn-group ul.multiselect-container li.lang-opt label input {
              position: absolute;
              left: -9000px;
              top: -9000px; }
            #stage div#activity-area #embed-area div.viewport div.btn-group ul.multiselect-container li.lang-opt label * {
              vertical-align: top;
              margin-top: 2px; }
        #stage div#activity-area #embed-area div.viewport div.content {
          background-color: lightgray;
          width: 100%;
          padding: 10px; }
          #stage div#activity-area #embed-area div.viewport div.content h4 {
            color: #333333;
            font-weight: bold; }
          #stage div#activity-area #embed-area div.viewport div.content p {
            padding: 0;
            color: #333333; }
          #stage div#activity-area #embed-area div.viewport div.content #embed-form {
            display: flex; }
            #stage div#activity-area #embed-area div.viewport div.content #embed-form input[name='embed'] {
              flex-grow: 1;
              margin-right: 10px; }
      #stage div#activity-area #embed-area.open i.fa-chevron-up {
        transform: rotate(180deg); }
      #stage div#activity-area #embed-area.open div.viewport {
        max-height: 200px; }
    #stage div#activity-area #events-list-container #events-list {
      overflow-y: scroll;
      /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch; }
      #stage div#activity-area #events-list-container #events-list li.group-obj {
        display: block; }
      #stage div#activity-area #events-list-container #events-list.events li.event-obj {
        display: block; }

@media (min-width: 600px) {
  body.filter-collapsed #stage div#activity-area section#events-list-container {
    max-width: 0; }
  body.filter-collapsed #stage #map #show-hide-list-container {
    left: -32px !important; }
    body.filter-collapsed #stage #map #show-hide-list-container #hide-list-text {
      display: none !important; }
    body.filter-collapsed #stage #map #show-hide-list-container #show-list-text {
      display: block !important; } }

#show-hide-map {
  display: none; }

@media (max-width: 600px) {
  body #show-hide-map {
    display: block; }
    body #show-hide-map .show-map {
      display: block; }
    body #show-hide-map .show-list {
      display: none; }
  body.map-view #show-hide-map .show-list {
    display: block; }
  body.map-view #show-hide-map .show-map {
    display: none; }
  body.map-view div#activity-area {
    flex-grow: 1; }
    body.map-view div#activity-area section#map {
      visibility: visible !important;
      z-index: 100 !important; }
  body div#stage {
    display: flex;
    flex-direction: column; }
    body div#stage header.page-header {
      height: auto;
      padding: 5px; }
      body div#stage header.page-header nav {
        display: flex;
        flex-direction: column;
        border-bottom: none; }
        body div#stage header.page-header nav div.logo-area {
          text-align: center;
          width: 100%; }
        body div#stage header.page-header nav div.filters-form-area {
          padding-top: 0;
          padding: 0 10px 5px; }
          body div#stage header.page-header nav div.filters-form-area .input-text {
            background-color: none;
            margin-top: 10px; }
            body div#stage header.page-header nav div.filters-form-area .input-text span.twitter-typeahead {
              display: block;
              flex-grow: 1;
              flex: 0 1 100%; }
            body div#stage header.page-header nav div.filters-form-area .input-text div.search-button {
              flex-grow: 0; }
          body div#stage header.page-header nav div.filters-form-area .filter-area {
            flex-direction: column; }
            body div#stage header.page-header nav div.filters-form-area .filter-area div.filter-container {
              display: flex;
              margin: 0;
              margin-top: 10px;
              padding: 0; }
              body div#stage header.page-header nav div.filters-form-area .filter-area div.filter-container button span {
                display: inline-block;
                text-align: left;
                margin: 0;
                margin-left: 10px; }
                body div#stage header.page-header nav div.filters-form-area .filter-area div.filter-container button span label {
                  display: inline-block;
                  max-width: calc(100% - 50px);
                  font-size: 14px; }
          body div#stage header.page-header nav div.filters-form-area button#show-hide-map {
            margin-top: 10px; }
        body div#stage header.page-header nav div.cta-area {
          width: 100%;
          text-align: center;
          display: none; }
          body div#stage header.page-header nav div.cta-area p {
            font-size: 14px;
            font-weight: bold;
            color: gray; }
    body div#stage div#activity-area {
      flex-grow: 1;
      display: flex;
      position: relative; }
      body div#stage div#activity-area section#map {
        visibility: hidden;
        z-index: -1;
        position: absolute !important;
        width: 100%;
        height: calc(100% - 157px);
        bottom: 0;
        left: 0; }
        body div#stage div#activity-area section#map #show-hide-list-container {
          display: none !important; }
      body div#stage div#activity-area section#events-list-container {
        border-right: none;
        visibility: visible;
        border-left: none;
        width: 100%;
        max-width: none !important; }
        body div#stage div#activity-area section#events-list-container header.events-header {
          font-size: 24px;
          padding-top: 5px; }
      body div#stage div#activity-area #embed-area div.viewport div.content h4 {
        font-size: 18px; } }

div.filter-container span.multiselect-native-select div.btn-group {
  text-align: right; }
  div.filter-container span.multiselect-native-select div.btn-group button.multiselect.dropdown-toggle {
    font-size: 12px;
    background: transparent; }
    div.filter-container span.multiselect-native-select div.btn-group button.multiselect.dropdown-toggle img {
      width: 16px; }
    div.filter-container span.multiselect-native-select div.btn-group button.multiselect.dropdown-toggle:after {
      display: none; }
  div.filter-container span.multiselect-native-select div.btn-group ul.multiselect-container.dropdown-menu {
    left: auto !important;
    right: 0 !important; }
    @media (max-width: 600px) {
      div.filter-container span.multiselect-native-select div.btn-group ul.multiselect-container.dropdown-menu {
        left: 0 !important;
        right: auto !important; } }
    div.filter-container span.multiselect-native-select div.btn-group ul.multiselect-container.dropdown-menu li img {
      width: 15px;
      height: 15px;
      margin-left: 5px; }
