$orange: #FFA902;
$indigo: #003DAA;
$light-indigo: #0046c3;
$blue: #0F81E8;
$red: #FF6112;
$teal: #40D7D4;

@mixin klima {
  font-family: 'KlimaWeb', -apple-system, BlinkMacSystemFont, 'arial', sans-serif;
}

@mixin graph {
  font-family: 'GraphCondensedWeb', -apple-system, BlinkMacSystemFont, 'arial', sans-serif;
}

@mixin is_hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
  // Visually hidden.
}
$font-secondary: 'Overpass Mono',Menlo,monaco,courier,monospace;

@mixin event-item {
  ul.event-types-list {
    margin-bottom: 8px;
    li {
      border-radius: 4px;
      display: inline-block;
      background-color: lightgray;
      border: 1px solid lightgray;
      margin-bottom:0.3em;
      padding: 2px 5px 0;
      font-size: 12px;
    }
  }

  h2 {
    @include klima;
    margin-bottom: 0;
    line-height: 1.2;
    font-weight:700;
    font-size:24px;

    cursor: pointer;
  /*  &:before {
      content: ' ';
      width: 18px;
      height: 18px;
      position: absolute;
      top: 2px;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 1;
      left: 6px;
    }
    &:after {
      content: ' ';
      width: 28px;
      height: 28px;
      position: absolute;
      background-color: lightgray;
      left: 0px;
      top: -3px;
      border-radius: 50%;
    } */
  }

  a.btn.btn-primary {
    font-size: 13px;
    padding: 7px 12px 6px;
    font-weight: 600;
  }

  div.type-event {

    overflow-x: hidden;

    div.address-area {
      margin-bottom: 5px;
    }
    h2 {
      &:before {
        background-image: url(/img/human.svg);
      }
      &:after {
        background-color: $teal;
      }

      a { color: $indigo}
    }
  }
  div.type-group {
    div.group-details-area {
      margin-bottom: 5px;
    }
    h2 {
      &:after {
        background-color: $blue;
      }
      &:before {
        background-image: url(/img/flag.svg);
      }
    }
  }
  @content;
}
