$orange: #FFA902;
$indigo: #003DAA;
$light-indigo: #0046c3;
$blue: #0F81E8;
$red: #FF6112;
$teal: #40D7D4;

@mixin klima {
  font-family: 'klima', 'arial', sans-serif;
}

@mixin graph {
  font-family: 'graph', 'arial', sans-serif;
}

@mixin event-item {
  ul.event-types-list {
    margin-bottom: 15px;
    li {
      display: inline-block;
      background-color: lightgray;
      border: 1px solid lightgray;
      padding: 2px 5px;
      border-radius: 4px;
      font-size: 12px;
      @include klima;
    }
  }
  h2 {
    @include klima;
    margin-bottom: 0;
    line-height: 2.1rem;
    font-weight: 600;
    text-indent: 30px;
    position: relative;

    cursor: pointer;
    &:before {
      content: ' ';
      width: 18px;
      height: 18px;
      position: absolute;
      top: 2px;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 1;
      left: 6px;
    }
    &:after {
      content: ' ';
      width: 28px;
      height: 28px;
      position: absolute;
      background-color: lightgray;
      left: 0px;
      top: -3px;
      border-radius: 50%;
      border: 3px solid white;
    }
  }
  h4 {
    text-transform: uppercase;
    @include graph;
    font-size: 1.3em;
  }
  p {
    margin-bottom: 0;
    line-height: 1.5;
    @include klima;
  }
  a.btn.btn-primary {
    font-size: 13px;
    padding: 7px 12px 6px;
    font-weight: 600;
    width: 140px;

  }

  div.type-event {
    div.address-area {
      margin-bottom: 5px;
    }
    h2 {
      &:before {
        background-image: url(/img/human.svg);
      }
      &:after {
        background-color: $blue;
      }
    }
  }
  div.type-group {
    div.group-details-area {
      margin-bottom: 5px;
    }
    h2 {
      &:after {
        background-color: $teal;
      }
      &:before {
        background-image: url(/img/flag.svg);
      }
    }
  }
  @content;
}
