@import 'fonts';
@import 'vars';

html, body {
  height: 100%;
  font-size:16px;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: $indigo;
  &:hover {
    color: $light-indigo;
    text-decoration: none;
  }
}
.btn.btn-primary {
  background-color:$teal;
  border-color:$teal;
  color:#fff;
  font-weight:bold;
  &:hover {
    background-color: $blue;
  }
}
.btn.btn-secondary {
  background-color:transparent;
  border-color: $indigo;
  border-width:2px;
  border-style:solid;
  color:$indigo;
  &:hover {
    background-color: $indigo;
    color:#fff;
  }
}
.btn.btn-tertiary {
  background-color:#d4d6d7;
  border-color:#d4d6d7;
  border-width:1px;
  border-style:solid;
  &:hover {
    background-color:#c4c6c7;
  }
}

#stage {
  height: inherit;
  display: flex;
  flex-direction: column;

  @import 'components/header';

  div#activity-area {
    background-color: green;
    flex-grow: 1;
    position: relative;
    display: flex;


    @import 'components/map';
    @import 'components/events_list';
    @import 'components/embed';

    #events-list-container  {
      #events-list {
        ul li { display: none; }

        &.groups li.group-obj { display: block; }
        &.events li.event-obj { display: block; }
      }
    }

  }
}


@import 'mobile/mobile';
