@import 'fonts';
@import 'vars';

html, body {
  height: 100%;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: $indigo;
  &:hover {
    color: $light-indigo;
    text-decoration: none;
  }
}
.btn.btn-primary {
  @include klima;
  background-color: $indigo;
  border-color: $indigo;
  &:hover {
    background-color: $light-indigo;
    border-color: $light-indigo;
  }
}

#stage {
  height: inherit;
  display: flex;
  flex-direction: column;

  @import 'components/header';

  div#activity-area {
    background-color: green;
    flex-grow: 1;

    display: flex;


    @import 'components/map';
    @import 'components/events_list';
  }
}
