@import 'partials/reset';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/base';
@import 'partials/components/components';

html, body {
  padding : 0;
  margin: 0;
  height: 100%;
  position: relative;

  height: 100%;
  overflow: hidden;

  *.montserrat, .primary_font, *.lato {
    font-family: $sans-serif;
    font-weight: 200;
  }
  *.merriweather {
    font-family: 'merriweather', serif;
  }

  a.hide-office { display: none !important;}
  a.show-office { display: inline-block;}
  section#campaign-offices {
    display: none;
  }

  &.show-office {
    a.hide-office { display: inline-block !important;}
    a.show-office { display: none !important;}
    section#campaign-offices {
      display: block;
    }
  }


  a {
    text-decoration: none;
    // color: $secondary_color;
    color: black;
  }

  .contribute.contribute-big {
    font-weight: bold;
    font-size: 12px;
    background-color: $highlight_color;
    letter-spacing: 0.15em;
    margin: 0.3em auto 0;
    border-radius: 3px;
    padding: 0.7rem 1.7rem;
    color: white;
    display: inline-block;
    text-transform: uppercase;

    transition: $highlight_transition;

    &:hover {
      background-color: $darkred;
      @extend .highlight_hover;
    }
  }
}
