@mixin eventListItem {
  position: relative;
  padding: 15px 6px 15px 10px;
  border-bottom: 1px dotted rgba(0,0,0,0.3);
  border-left: 4px solid rgba(0,0,0,0);

  h5.official-tag {
    font-size: 9px;
    text-transform: uppercase;
    color: #F55B5B;
    font-weight: 400;
    border-radius: 2px;
    border: 1px solid;
    display: inline-block;
    padding: 2px 3px;
    line-height: 14px;
    margin: 4px 0;
  }

  h5 {
    font-weight: 300;
    color: #929292;
    font-family: $serif;
    font-size: 13px;
    margin-bottom: 4px;
  }

  h3 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }
  p {
    margin: 10px 0 5px;
    font-family: $serif;
  }

  &:last-child { border: none; }
  div.social-area {

    a.rsvp-link {
      font-weight: bold;
      font-size: 12px;
      background-color: $highlight_color;
      letter-spacing: 0.15em;
      margin: 0.3em auto 0;
      border-radius: 3px;
      padding: 6px 8px 5px;
      color: white;
      display: inline-block;
      text-transform: uppercase;
      margin-top: 7px;
      margin-bottom: 3px;
      line-height: 1;

      &:hover {
        background-color: $darkred;
      }
    }
    span.rsvp-count { display: none; }

    &.more-than-5 {
      span.rsvp-count {
        display: inline-block;
        color: $highlight_color;
        margin-left: 8px;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 12px;
      }
    }
  } // end of social area

  &.is-full{
    * {
      color: lightgray !important;
      a.rsvp-link {
        background-color: lightgray !important; color: whitesmoke !important; }
    }
    &::after {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.1);
        top: 0;
        left: 0;
    }
  }
}



/**
  Event Item
**/

div.event-item {
  h3 {
    a {
      color: black;
      letter-spacing: 2px;
      font-weight: normal;

      &:hover {
        color: $secondary_color;
      }

      transition: color 0.3s ease;
    }
  }
  .event-social {
    margin-top: 10px;
    font-size: 14px;
    vertical-align: middle;
    a, img, span {
      vertical-align: middle;
    }

    a {
      display: inline-block;
      margin-right: 5px;
    }

    img {
      width: 20px;
      height: 20px;
    }
  }

  .rsvp-link {
    padding: 5px 8px 5px;
    margin-top: 5px;
    display: inline-block;
    color: white;
    border-style: solid;
    font-size: 19px;
    letter-spacing: 2px;
    font-family: $sans-serif;

    color: white;
    background-color: $darkdarkblue;
    &:hover{
      background-color: $secondary_color;
    }
    transition: background-color 0.3s ease;
  }

  div.event-rsvp-activity {
    display: none;
    position: absolute;
    top: 8px;
    left: 3px;
    background-color: whitesmoke;
    width: 260px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border: 3px solid #C8C8C8;
    padding: 7px;

    form.event-form {
      position: relative;

      .event-error {
        color: $highlight_color;
        font-size: 9px;
        text-decoration: none;
        padding: 2px 0;
        margin-bottom: 4px;
      }

      .shift-details {
        ul {
          margin-bottom: 5px;
          li {
            border: none !important;
            display: inline-block;
            width: 50%;
            padding: 0 !important;
            font-size: 11px;
            margin-bottom: 5px;
            label, input {
              cursor: pointer;
            }
          }
        }
      }

      h4 {
        font-size: 14px;
        padding-bottom: 4px;
        margin-bottom: 4px;
        border-bottom: 1px solid lightgray;
        color: $secondary_color;
        line-height: 1.25;

        strong { font-weight: 600;}
      }
      input[type='text'] {
        font-size: 12px;
        display: block;
        width: 98%;
        margin-bottom: 3px;
      }
      input[name='email'] {
        font-size: 12px;
        display: block;
        width: 98%;
      }

      input[name='name'] {
        width: 60%;
        display: inline-block;
      }
      input[name='zipcode'] {
        @include calc(width, "35% - 2px");
        margin-left: 2px;
        display: inline-block;
      }
      input[type='submit'] {
        width: 100%;
        padding: 3px 0;
        border: none;
        background-color: $highlight_color;
        color: white;
        margin-top: 4px;
        cursor: pointer;
        border-radius: 2px;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
          background-color: $darkred;
        }
      }
    }

    /*&:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      border-top: 8px solid $secondary_color;
      left: 21px;
      bottom: -10px;
    }*/
  }
}
