#show-hide-map { display: none; }
@media(max-width: 990px) {
  body {
    #show-hide-map {
      display: block;
      .show-map { display: block; }
      .show-list { display: none; }
    }

    &.map-view {
      #show-hide-map .show-list { display: block; }
      #show-hide-map .show-map { display: none; }

      div#activity-area {
        flex-grow: 1;

        section#map {
          // display: block !important;
          opacity: 1 !important;
          z-index: 1000 !important;
        }
        section#events-list-container  {
          display: none !important;
        }
      }
    }

    div#stage {
      display: flex;
      flex-direction: column;

      header.page-header {
        height: auto;
        nav {
          display: flex;
          flex-direction: column;
          border-bottom: none;

          div.logo-area {
            text-align: center;
            width: 100%;
          }
          div.filters-form-area {
            padding-top: 0;
            padding: 0 10px 5px;
            .input-text { background-color: #f5f5f5; }
            div.filter-container {
              margin-left: 20px;
              margin-top: 10px;

              span { display: block; }

            }
            div.search-button {
              display: none;
            }
            button#show-hide-map {
              position: absolute;
              right: 16px;
              top: 24px;
            }
          }

          div.cta-area {
            width: 100%;
            text-align: center;
            p { font-size: 14px; font-weight: bold; color: gray; }
            display: none;

          }
        }
      }

      div#activity-area {
        flex-grow: 1;

        section#map {
          opacity: 0;
          z-index: 0;
          position: relative;
        }

        section#events-list-container {
          border-left: none;

          header.events-header {
            font-size: 24px;
            padding-top: 5px;
          }
        }
      }
    }
  }
}
