#show-hide-map { display: none; }
@media(max-width: 600px) {
  body {
    #show-hide-map {
      display: block;
      .show-map { display: block; }
      .show-list { display: none; }
    }

    &.map-view {
      #show-hide-map .show-list { display: block; }
      #show-hide-map .show-map { display: none; }

      div#activity-area {
        flex-grow: 1;

        section#map {
          // visibility: visible !important;
          // display: block !important;
          visibility: visible !important;
          z-index: 100 !important;
          // display: block !important;
          // opacity: 1 !important;
          // z-index: 1000 !important;
          // display: block;
        }
        section#events-list-container  {
          display: none !important;
          visibility: hidden !important;
        }
      }
    }

    div#stage {
      display: flex;
      flex-direction: column;

      header.page-header {
        height: auto;
        padding: 5px;
        nav {
          display: flex;
          flex-direction: column;
          border-bottom: none;

          div.logo-area {
            text-align: center;
            width: 100%;
          }
          div.filters-form-area {
            padding-top: 0;
            padding: 0 10px 5px;
            .input-text {
              background-color: none;
              margin-top: 10px;
              span.twitter-typeahead {
                display: block;
                flex-grow: 1;
                flex: 0 1 100%;
              }
              div.search-button {
                flex-grow: 0;
              }
            }

            .filter-area {
              flex-direction: column;
            div.filter-container {
                display: flex;
                margin: 0;
                margin-top: 10px;
                padding: 0;

                span {
                  display: block;
                  flex: 0 0 50%;
                  text-align: left;
                  margin: 0;
                  margin-left: 10px;
                  label {
                    display: inline-block;
                    max-width: calc(100% - 50px);
                    font-size: 14px;
                  }
                }
              }
            }
            // div.search-button {
            //   display: none;
            // }
            button#show-hide-map {
              margin-top: 10px;
              // position: absolute;
              // right: 16px;
              // top: 24px;
            }
          }

          div.cta-area {
            width: 100%;
            text-align: center;
            p { font-size: 14px; font-weight: bold; color: gray; }
            display: none;

          }
        }
      }

      div#activity-area {
        flex-grow: 1;
        display: flex;
        // height: 100%;
        position: relative;
        section#map {
          visibility: hidden;
          z-index: -1;
          // opacity: 1;
          // height: 100%;
          position: absolute !important;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }

        section#events-list-container {
          visibility: visible;
          border-left: none;
          width: 100%;
          header.events-header {
            font-size: 24px;
            padding-top: 5px;
          }
        }
      }
    }
  }
}
