@import 'partials/reset';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/base';
@import 'partials/components/components';

html, body {
  padding : 0;
  margin: 0;
  height: 100%;
  position: relative;

  height: 100%;
  overflow: hidden;

  *.montserrat, .primary_font, *.lato {
    font-family: $sans-serif;
    font-weight: 200;
  }
  *.merriweather {
    font-family: 'merriweather', serif;
  }

  a.hide-office { display: none !important;}
  a.show-office { display: inline-block;}
  section#campaign-offices {
    display: none;
  }

  &.show-office {
    a.hide-office { display: inline-block !important;}
    a.show-office { display: none !important;}
    section#campaign-offices {
      display: block;
    }
  }


  a {
    text-decoration: none;
    // color: $secondary_color;
    color: black;
  }
}
