#embed-area {
  width: 100%;
  position: relative;
  button.btn.more-items {
    position: absolute;
    top: -38px;
    right: 15px;
    color: white;
    background-color: lightgray;
    border-radius: 0.25rem 0.25rem 0 0;
    cursor: pointer;
    outline: 0;
    &:focus { outline: none !important; }
    i { color: #333; transition: transform 0.5s; }
  }
  button { cursor: pointer; }

  div.viewport {
    max-height: 0;
    transition: max-height 0.5s;
    div.content {
      background-color: lightgray;
      width: 100%;
      padding: 10px;

      h4 {
        color: #333333;
        font-weight: bold;
      }

      p { padding: 0; color: #333333;}

      #embed-form {
        display: flex;
        input[name='embed'] {
          flex-grow: 1;
          margin-right: 10px;
        }
      }
    }
  }


  &.open {
    i.fa-chevron-up { transform: rotate(180deg); }
    div.viewport {
      max-height: 200px;
    }
  }
}
