section#events-list-container {
  width: 400px;
  height: inherit;
  background-color: whitesmoke;
  border-left: 1px solid rgba(0,0,0,0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  header.events-header {

    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    background: orange;
    color: white;

    width: 100%;

    @include klima;
  } // header.events-header

  div#events-list {
    flex-grow: 1;
    overflow: auto;
    height: inherit;
    .event-date, .event-address{
      color:rgba(21,35,45,0.8);
      font-size:0.95em;}
    .event-date{
      font-weight:bold;}
    & > ul {

      & > li {

        @include event-item {
          & > div {
            padding: 20px;

            &.type-group {
              background-color: #dedede;
            }
          }
        };

        border-bottom: 1px dashed gray;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  } //div#events-list
}
