section#map {

  flex-grow: 1;
  background-color: whitesmoke;
  font-size:1rem;
  z-index: 0;
  @include klima;
  position: relative;
  #show-hide-list-container {
      background-color: $indigo;
      transform: rotate(90deg);
      position: absolute;
      z-index: 1000;
      left: -43px;
      top: 160px;
      padding: 5px 10px 5px;
      color: white;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      font-family: $font-fam;
      letter-spacing: 1px;
      border-radius: 4px 4px 0 0;
      #hide-list-text { display: block; }
      #show-list-text { display: none; }
  }

  div#map-proper {
    width: 100%;
    height: 100%;

    img.leaflet-marker-icon.annotation-popup.leaflet-zoom-animated.leaflet-interactive {
      z-index: 10000 !important;
    }
    img.leaflet-marker-icon.events.event-item-popup.event-past-event.leaflet-zoom-animated.leaflet-interactive {
      z-index: 0 !important;
    }
  }
  div.leaflet-popup {
    .leaflet-container a.leaflet-popup-close-button {
      top: 10px;
      right: 10px;
    }
    .leaflet-popup-content-wrapper{

      .popup-item.annotation {
        iframe { width: 100% !important; }
      }

      border-radius:5px;}
    .event-date, .event-address, .group-location.location, .group-description{
      color:rgba(21,35,45,0.8);
      font-size:0.95em;}
    .event-date, .group-location.location{
      font-weight:bold;}
    div.leaflet-popup-content {
      min-width: 350px;
      padding: 10px;
      margin: 10px;
      p{
        margin-top:0;}
      @include event-item {
        a.btn-primary { color: white; }
        .event-title,
        .group-header{
          margin-bottom:0.5rem;}
      };
    }
  }

  &.zoomed-out {
    img.local-groups, img.fossil-free-groups, img.regional-hubs {
      width: 11px !important;
      height: 11px !important;
      margin-top: 0px !important;
      margin-left: -3px !important;
    }

    img.events {
      width: 9px !important;
      height: 9px !important;
      margin-top: 0px !important;
      margin-left: 0px !important;
    }
  }
}
