/** SHOW/HIDE "Search by Type"**/
$show_search_by_type: block;

/** LOGO **/
$logo: url(/img/bg-logo.png);
$logo_width: 152px;
$logo_height: 60px;

$mob_logo: url(/img/bg-logo.png);
$mob_logo_width: 112px;
$mob_logo_height: 80px;

/** BUTTON COLORS **/
$highlight_color: #FF3251; //#a10000;
$darkred: #EB2643; //#004661;
$highlight_transition: 0.4s background-color, 0.4s color;

.highlight_hover {
  background-color: #004661; // Hover
  color: white;
}


$secondary_color: #FF3251; //#a10000;
$darkdarkblue: #EB2643; //004661; //hover

/** Background Colors **/
$header-color: white; //rgb(225, 225, 225);

$filterbg-color: #EBEBEB;
$filterbg-border-color: #CCC;

$eventsbg-color: white;
$eventsbg-border-color: #DCDCDC;

$gray: rgb(110, 110, 110);
$lightgray: #e1e1e1;

$serif: 'acumin-pro', sans-serif;
$sans-serif: 'abolition', sans-serif;
